<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/listdetail.css">
</head>
<body>
    <div id="header">
        <div class="center">
            <h1 class="logo"><a href="/"><img src="/img/Zara_logo.png"></a></h1>
        </div>
    </div>
    <div id="content" style="margin-top: 300px;">
        <div class="center">
            <div class="list">
                <div class="imgs">
                    <img src="<%- data.img %>">
                </div>
                <div class="title">
                    <p><%- data.title %></p>
                    <p><%- data.price %></p>
                    <p><%- data.content %></p>
                    <a href="/sub/top">목록으로</a>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer.ejs", {title:"footer",footerFile:["footer.css"]}) %>
</body>
</html>